.Accordion{}

.Question{
    border-top: 0.5px solid var(--G5);
    font-size: 20px;
    background-color: var(--G8);
    justify-content: space-between;
    height: 70px;
}
.Answer{
    font-size: 18px;
    background-color: var(--G8);
}

.layout{
    color: var(--G1);
    display: flex;
    align-items: center;
    padding: 0px 32px;
    border-bottom: 0.5px solid var(--G5);
}

ol {
    padding-left: 22px;
}

.active{

}