@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap");

.Background {
  background-image: url("../../Img/Liquid.png");
  background-size: cover;
  background-position: center;
  color: var(--G1);
  padding: 70px 0px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 30px;
}

.Background h1 {
  font-size: 32px;
  font-weight: 500;
}

.Background h5 {
  font-size: 18px;
  font-weight: 400;
}

.wrap {
  display: flex;
  gap: 30px;
  color: var(--G1);
  background-color: var(--G8);
  overflow: hidden;
  min-height: 380px;
}

.ApplycardTitle {
  background-color: var(--G7);
  padding: 22px 40px;
}

.ApplycardContent {
  margin-top: 32px;
  padding: 0px 36px 0px 60px;
  margin-bottom: 100px;
}

.ApplycardButton {
  display: flex;
  align-items: center;
  position: absolute;
  right: 36px;
  bottom: 30px;
}

ul {
}

.ApplycardContainer {
  flex: 1;
  border-radius: 12px;
  border: 1px solid var(--G1);
  overflow: hidden;
  position: relative;
}

.ApplycardButton {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .wrap {
    display: flex;
    flex-direction: column;
  }

  .ApplycardTitle {
    background-color: var(--G7);
    padding: 22px 40px;
  }

  .ApplycardContent {
    margin-top: 32px;
    padding: 0px 18px 0px 30px;
    margin-bottom: 100px;
  }
}
