.cardContainer {
  display: flex;
  width: 380px;
  height: 437px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cardImg {
  width: 380px;
  height: 280px;
  flex-shrink: 0;
  border-radius: 8px;
}

.cardTextContainer {
  display: flex;
  width: 380px;
  height: 157px;
  padding: 24px;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  flex-shrink: 0;
}

.cardTitle {
  color: var(--G1);
  text-overflow: ellipsis;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cardIntro {
  overflow: hidden;
  color: var(--G4);
  text-overflow: ellipsis;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.cardMore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--G1);
  cursor: pointer;
  display: flex;
}

.cardMore > span {
  color: var(--G1, #fff);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
}

.cardMore > img {
  transform: rotate(90deg);
  width: 15px;
  height: 15px;
}
