@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

.StudentCards{
    display: flex;
    flex-wrap: wrap;
    gap: 90px 30px;
}

.StudentCard{
    color: var(--G1);
    display: flex;
    gap: 12px;
    flex: 1;
}

.StudentCard img{
    width: 120px;
    height: 160px;
    border-radius: 12px;
    background-color: var(--G3);
}

.StudentCard_content{
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.StudentCard_content > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.StudentCard_content .name{
    font-size: 24px;
    font-weight: 500;
}

.StudentCard_content .email{
    font-size: 11px;
    font-weight: 300;
    color: var(--G4);
}

.StudentCard_content > div:nth-child(2){
}

.StudentCard_content .department{
    font-size: 16px;
    font-weight: 300;
}

.StudentCard_content .major{
    font-size: 16px;
    font-weight: 300;
}

.StudentCard_content .work{
    font-size: 14px;
    font-weight: 300;
}