.headerWrapper {
  background-color: var(--G9);
  color: var(--G1);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% - 2px);
  height: 72px;
  z-index: 9999;
}
.logo {
  cursor: pointer;
  width: 104px;
  height: 40px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 1200px;
}

.profWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.profWrapper:hover {
  cursor: pointer;
}

.navWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.navWrapper img {
  margin-right: 24px;
  width: 104px;
  height: 40px;
}

.nav {
}

.nav:hover {
  color: var(--P1);
  cursor: pointer;
  transition: 0.3s;
}

/* 글자 네비게이션 컨테이너 */

.navigation {
  max-width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.activeNav {
  font-weight: 700;
}

.nav {
  cursor: pointer;
  transition: 0.4s;
}

.nav:hover {
  color: var(--P1);
}

.activeNav {
  color: var(--P1);
}
.menuIcon {
  display: none;
}
@media screen and (max-width: 1324px) {
  .headerContainer {
    display: flex;
    justify-content: center;
    padding: 12px;
    width: var(--web800);
    height: 44px;
  }
}

@media screen and (max-width: 1124px) {
  .headerContainer {
    display: flex;
    justify-content: center;
    padding: 12px;
    width: var(--web800);
    height: 44px;
  }
}

@media screen and (max-width: 900px) {
  .headerContainer {
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    width: var(--webmobiled);
    height: 44px;
  }

  .headerWrapper {
    background-color: var(--G9);
    color: var(--G1);
    font-size: 16px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    z-index: 99;
    position: fixed;
  }

  .navWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .navigation {
    display: none;
  }

  /* 작아보여서 좀 키움 */
  .menuIcon {
    display: flex;
    height: 3rem;
    width: 3rem;
    max-width: 100%;
  }
  .mobileNav {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 72px;
    left: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--G9);
  }
  .open {
    background-color: var(--G9);
  }
}
