.headerWrapper {
  background-color: var(--G9);
  color: var(--G1);
  font-size: 16px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  z-index: 9999;
}
.logo {
  cursor: pointer;
  width: 104px;
  height: 40px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 1200px;
}

.profWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.profWrapper:hover {
  cursor: pointer;
}

.navWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.navWrapper img {
  margin-right: 24px;
  width: 104px;
  height: 40px;
}

.nav {
}

.nav:hover {
  color: var(--P1);
  cursor: pointer;
  transition: 0.3s;
}

/* 글자 네비게이션 컨테이너 */

.navigation {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.activeNav {
  font-weight: 700;
}

@media screen and (max-width: 660px) {
  .headerContainer {
    display: flex;
    justify-content: center;
    padding: 12px;
    width: var(--webmobiled);
    height: 44px;
  }
  .headerWrapper {
    width: var(--webmobiled);
    background-color: var(--G1op);
    color: var(--G11);
    font-size: 16px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    z-index: 99;
    backdrop-filter: blur(10px);
  }

  .navWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .navigation {
    display: none;
  }
  .menuIcon {
    display: flex;
    height: 2rem;
    width: 2rem;
    max-width: 100%;
  }
  .mobileNav {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #ffff;
  }
}
