.identity, .faculty, .student {
  display: flex;
  flex-direction: column;
  gap: var(--text-margin);
}


.works {
  display: flex;
  max-width: 1200px;
  gap: var(--text-margin);
}

.recentnews {
  display: flex;
  flex-direction: column;
  gap: var(--text-margin);
}

.information {
  display: flex;
  flex-direction: column;
  gap: var(--text-margin);
}

.recentnews .carousel{
  flex-wrap: wrap;
}


@media screen and (max-width: 1324px) {
  /* 메인화면의 MIX LAB의 작품 부분 반응형, 페이지 좁아지면 가운데 몰리도록 */
  .works{
    flex-direction: column-reverse;
    align-items: center;
  }

  .worksinner{
    align-items: center;
  }

  .worksinner p{
    text-align: center;
  }
  /* 메인 화면의 다른건 괜찮은데 MIXLAB의 작품 이거 하나만 정렬이 달라서 따로 이렇게 줌 */

  .recentnews{
    align-items: center;
  }

  .recentnews .carousel{
    width: 600px;
  }
}

@media screen and (max-width: 1124px) {

}

@media screen and (max-width: 800px) {  
  .recentnews .carousel{
    flex-direction: column;
  }
  .recentnews .carousel .subImg{
  }
}
