.introContainer {
  width: 100%;
  height: 360px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.introbanner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../Img/mainimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_text {
  position: absolute;
  width: var(--web1200);
  height: calc(360px - 72px);
  margin: 72px auto 0;
  display: flex;
  flex-direction: column;

  justify-content: center;
  color: #fff;
  z-index: 4;

  gap: 24px;
}

.intro_text > p {
  font-size: 20px;
  font-weight: 400;
}
.gradient {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 2;

  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 0.8) 0%,
    rgba(34, 34, 34, 0.6) 100%
  );
}

@media screen and (max-width: 1324px) {
  .intro_text {
    width: var(--web1000);
    gap: 24px;
  }
  .intro_text > p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1124px) {
  .intro_text {
    width: var(--web800);
    gap: 16px;
  }
  .intro_text > p {
    font-size: 16px;
    font-weight: 400;
  }
}

@media screen and (max-width: 900px) {
  .intro_text {
    width: var(--webmobiled);
    gap: 12px;
    height: 240px;
    margin: 0 auto;
  }
  .introContainer {
    width: 100%;
    height: 240px;
  }
  .intro_text > p {
    font-size: 12px;
    font-weight: 400;
  }
}
