.mainbanner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../Img/mainimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .title {
  display: flex;
  align-items: baseline;
}

.textContainer {
  width: var(--web1200);
  position: absolute;
  z-index: 8;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  color: var(--G1);
}

.hero {
  width: 100%;
  height: auto;
}

.hero > p {
  margin: 24px 0px 0px 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%; /* 32px */
}

.gradient {
  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 2;

  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 0.8) 0%,
    rgba(34, 34, 34, 0.6) 100%
  );
}

@media screen and (max-width: 1324px) {
  .textContainer {
    width: var(--web1000);
  }
}

@media screen and (max-width: 1124px) {
  .textContainer {
    width: var(--web800);
  }
}

@media screen and (max-width: 900px) {
  .textContainer {
    width: var(--webmobiled);
  }

  .hero > p {
    margin: 24px 0px 0px 0px;
    font-size: 14px;
    /* 너무 작아서 12px에서 14px로 수정 */
    font-weight: 500;
    line-height: 160%; /* 32px */
  }

  .title {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    color: var(--G1);
  }
}
