.newsContainer {
  width: 100vw;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--text-margin);
}

.newsbanner {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-image: url("../Img/mainimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news_text {
  position: absolute;
  width: 1200px;
  height: calc(400px - 72px);
  margin: 72px auto 0;
  display: flex;
  flex-direction: column;

  justify-content: center;
  color: #fff;
  z-index: 4;

  gap: 24px;
}

.news_text > p {
  font-weight: 400;
}

.newsInnerContainer {
  display: flex;
  gap: 30px 60px;
}

.gradient {
  width: 100vw;
  height: 100%;

  position: absolute;
  z-index: 2;

  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 0.8) 0%,
    rgba(34, 34, 34, 0.6) 100%
  );
}
