.projectdetailcontainer {
  background: var(--G8, #202020);
}

.projectWork {
  gap: 80px !important;
}

.projectworktitle > span {
  color: var(--G1, #fff);
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 75% */
}

.projectworkengtitle > span {
  color: var(--G1, #fff);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px; /* 120% */
}

.projectworkname > span {
  color: var(--G5, #b5b5b5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.projecttitlecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.projectworkinfo > span {
  color: var(--G1, #fff);
  text-align: justify;
  font-size: 18px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 300;
  word-break: break-all;
  line-height: 24px; /* 133.333% */
}

.projectimgcontainer {
  display: flex;
  justify-content: space-between;
}

.porjectimg {
  width: 585px;
  height: 326px;

  background-size: cover;
  border-radius: 4px;
}

.projectworklink {
  text-decoration: underline;
  color: var(--G5, #b5b5b5);
  cursor: pointer;
}

.linkcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* 어워드디테일페이지 위에 있는 뱃지 */
.awardInfo{
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.awardInfo span{
  background-color: var(--P1);
  padding: 4px 16px;
  border-radius: 100px;
  color: var(--G1);
  border: 2px solid var(--P1);
}

.awardInfo span:nth-child(2){
  background-color: var(--G8);
  color: var(--P1);
}
