.projectdetailcontainer {
  background: var(--G8, #202020);
}

.projectWork {
  gap: 80px !important;
}
.projectworktitle > span {
  color: var(--G1, #fff);
  font-family: Pretendard;
  font-size: 32px;
  font-style: semiBold;
  line-height: 120%;
}

.projectworkengtitle > span {
  color: var(--G1, #fff);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px; /* 120% */
}

.projectworkname > span {
  color: var(--G5, #b5b5b5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.projecttitlecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.projectworkinfo > span {
  color: var(--G1, #fff);
  text-align: justify;
  font-size: 18px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 300;
  word-break: break-all;
  line-height: 24px; /* 133.333% */
}

.projectimgcontainer {
  display: flex;
  justify-content: space-between;
}

.porjectimg {
  background-color: #fff;
  width: 585px;
  height: 326px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}

.projectworklink {
  text-decoration: underline;
  color: var(--G5, #b5b5b5);
  cursor: pointer;
}

.linkcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* 어워드디테일페이지 위에 있는 뱃지 */
.awardInfo {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.awardInfo span {
  background-color: var(--P1);
  padding: 4px 16px;
  border-radius: 100px;
  color: var(--G1);
  border: 2px solid var(--P1);
}

.awardInfo span:nth-child(2) {
  background-color: var(--G8);
  color: var(--P1);
}

@media screen and (max-width: 1324px) {
  .projectworktitle > span {
    font-size: 24px;
  }

  .projectworkinfo > span {
    font-size: 18px;
  }

  .projectworkengtitle > span {
    font-size: 20px;
  }

  .projectworkname > span {
    color: var(--G5, #b5b5b5);
    font-family: Pretendard;
    font-size: 18px;
  }

  .projectimgcontainer {
    display: flex;
    justify-content: space-between;
  }

  .porjectimg {
    flex: 0 1 calc(50% - 15px);
  }

  .projectWork {
    gap: 64px !important;
  }
}

@media screen and (max-width: 1124px) {
  .projectworktitle > span {
    font-size: 20px;
  }

  .projectworkinfo > span {
    font-size: 14px;
    line-height: 140%;
  }

  .projectworkengtitle > span {
    font-size: 16px;
  }

  .projectworkname > span {
    font-size: 14px;
  }
  .projectworklink {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .projectworklink {
    text-decoration: underline;
    color: var(--G5, #b5b5b5);
    cursor: pointer;
  }

  .projectimgcontainer {
    flex-direction: column;
    gap: 12px;
  }

  .porjectimg {
    flex: auto;
    width: 100%;
  }

  .projectWork {
    gap: 32px !important;
  }
}
