.projectContainer {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--text-margin);
  overflow-x: hidden;
}

.projectbanner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../Img/mainimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project_text {
  position: absolute;
  width: 1200px;
  height: calc(400px - 72px);
  margin: 72px auto 0;
  display: flex;
  flex-direction: column;

  justify-content: center;
  color: #fff;
  z-index: 4;

  gap: 24px;
}

.project_text > p {
  font-weight: 400;
}
