@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --P1: #5872ff;
  --P2: #3c4990;
  --G1: #ffffff;
  --G2: #efefef;
  --G3: #dfdfdf;
  --G4: #cccccc;
  --G5: #b5b5b5;
  --G6: #838383;
  --G7: #303030;
  --G8: #202020;
  --G9: #131313;

  /* 컨텐츠 관련 마진 */

  --content-margin: 250px;
  --text-margin: 100px;

  --web1200: 1200px;
  --web1000: 1024px;
  --web800: 800px;
  --webmobiled: 343px;
  --grid-col-l: 4;
  --grid-col-m: 3;
  --grid-col-s: 2;
}

.center {
  text-align: center;
}

* {
  font-family: Pretendard;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  color: var(--G1);
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  color: var(--G1);
  text-align: var(--align);
}

h3 {
  color: var(--G1);

  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}
h5 {
  font-size: 16px;
  font-weight: 300;
}

li {
  line-height: 130%;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 8px;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--G8);
  overflow-x: hidden;
}
/* body에 overflow-x: hidden;을 추가해서 가로 스크롤 없앰*/

.PageContainer {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--content-margin);
  margin: 150px auto;
}

@media screen and (max-width: 1500px) {
  .PageContainer {
    max-width: var(--web1200);
    overflow: hidden;
  }
}

@media screen and (max-width: 1324px) {
  .PageContainer {
    max-width: var(--web1000);
    overflow: hidden;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    margin: 0;
    color: var(--G1);
    text-align: var(--align);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
  }
  h5 {
    font-size: 14px;
    font-weight: 300;
  }

  li {
    line-height: 130%;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 8px;
  }

  p {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .PageContainer {
    max-width: var(--web800);
    overflow: hidden;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    margin: 0;
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
  }
  h5 {
    font-size: 14px;
    font-weight: 300;
  }

  li {
    line-height: 130%;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .PageContainer {
    max-width: var(--webmobiled);
    overflow: hidden;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
  }
  h5 {
    font-size: 14px;
    font-weight: 300;
  }

  li {
    line-height: 130%;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 8px;
  }

  p {
    font-size: 10px;
  }
}
