@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --P1: #5872ff;
  --P2: #3c4990;
  --G1: #ffffff;
  --G2: #efefef;
  --G3: #dfdfdf;
  --G4: #cccccc;
  --G5: #b5b5b5;
  --G6: #838383;
  --G7: #303030;
  --G8: #202020;
  --G9: #131313;

  /* 컨텐츠 관련 마진 */

  --content-margin: 250px;
  --text-margin: 100px;
}

.center {
  text-align: center;
}

* {
  font-family: Pretendard;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--G8);
}

.PageContainer {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--content-margin);
  margin: 150px auto;
}

h3 {
  margin: 0;
  color: var(--G1);
  text-align: var(--align);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
