@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --P1: #5872ff;
  --P2: #3c4990;
  --G1: #ffffff;
  --G2: #efefef;
  --G3: #dfdfdf;
  --G4: #cccccc;
  --G5: #b5b5b5;
  --G6: #838383;
  --G7: #303030;
  --G8: #202020;
  --G9: #131313;
}

* {
  font-family: "Pretendard-Regular";
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--G9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
